

.container{
    width: 1200px;
    padding: 200px;
    margon: 0px;

.day{
    height: 60px;
    

    text-align: center;
    font-weight: 500;
    color: black;
    background-color: gold;
    border: 3px dashed red;
    
}


.picture{
    text-align: center;
    
    


    background:gold;
}


.under{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;

}
ul{list-style: none;}


.footer{


height: 100px;
width: 100px;
padding-top: 50PX;



}

.item{
    margin-right: 50px;
    font-size: 50px;
}

.item:last-child{
    margin-right: 0px;
}
.item:hover{
    color:red
}


.time {
    text-align: center;
    color: black;
    background-color: gold;

    font-size: 60px;

    padding-top: 30px;
    
    
}



p{
    font-size: 30px;
}